<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todoist Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-white text-sm text-gray-900">
    <%= render "headers/app_header" %>
    <div class="flex">
      <%= render "sidebars/app_sidebar" %>
      <main class="flex-1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
